@font-face { 
  font-family: "opendyslexic"; 
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexic-Regular.otf"); 
  font-style: normal; 
  font-weight: normal; 
} 

html, div, section, header, menu, nav, footer, article, h1, h2, h3, h4, h5, h6, 
a:not(.fa), p, textarea, input, label, ul, ol, strong, pre, code, li, 
span:not(.fa):not(.dashicons) { 
  font-family: "opendyslexic"!important; 
}