@font-face { 
    font-family: "opendyslexic"; 
    src: url("/fonts/OpenDyslexic-Regular.otf"); 
    font-style: normal; 
    font-weight: normal; 
} 

html, body { 
    font-family: "opendyslexic";
    text-align: left;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 375px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

#header-form {
    color: white;
    padding: 12px 0 12px 10px;
    background-color: #315CA7;
}

section {
    margin-bottom: 15px;
    padding-left: 10px;
}

hr {
    margin: 25px auto 12px auto;
    width: 85%;
}

h1 {
    font-size: 24px;
}

#title {
    display: inline;
}

#form-button {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 25px;
    cursor: pointer;
}

#form-button:hover, #fivestar:hover {
    opacity: 1;
}

#footer-logo {
    width: 100px;
    margin: 15px auto 0 auto;
}

.darkener {
    opacity: 0.75;
}

.hard-darkener {
    opacity: 0.3;
}

.comingSoon {
    opacity: 0.3;
    cursor: not-allowed!important;
}

.warning {
    color: red;
}

.info {
    color: green;
}



/*  Section details window */
#details-container {
    display: none;
}

#header-details {
    color: white;
    padding: 12px 0 12px 10px;
    background-color: #6893BA;
}

#details-button {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 25px;
    cursor: pointer;
}

#details-button:hover, #fivestar:hover {
    opacity: 1;
}

#rate-section {
    display: block;
    cursor: pointer;
}

#rate-this {
    text-align: center;
    margin-bottom: 0px;
}

#fivestar {
    width: 120px;
    margin:auto;
    display: block;
    cursor: pointer;
}

.details-row {
    margin: 25px 0 0 10px;
    cursor: pointer;
}

.details-logo {
    display: inline;
    max-width: 20px;
    vertical-align: middle;
}

.details-text {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}
