#mask-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;    
    z-index: 10000;
    background-color: black;
    opacity: 0.5;
    height: 100%;
}

#mask-bottom {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;    
    z-index: 10000;
    background-color: black;
    opacity: 0.5;
    height: 0;
}